
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsla(257, 40%, 49%, 0.973) url(./images/bg-desktop.svg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header{
    padding-top: 10px;
}
header img{
    width: 350px;
    position: relative;
    left: 110px;
}
.home{
    padding-right: 10px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom:0 ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.left{
    
    padding-right: 10px;
}
.left img{
    width: 600px;

}
.right{
    color: #fff;
    margin-top: 70px;
    margin-left: 70px;
    @media (max-width:375px) {
        text-align: center;
    }
}
.right h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 18px;
    width: 500px;
}
.right p {
    width: 450px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 24px;
}
.right button{
    border: none;
    color: hsl(257, 40%, 49%);
    padding: 10px;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    box-shadow: 0px 2px 10px #000;
}




.right button:hover{
    background-color:  hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
    transform: scale(1.2) ;
    @media (max-width:375px) {
        text-align: center;
    }

}

footer .icons ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding:40px;
    padding-bottom: 0;
    padding-top: 0;
    @media (max-width:375px) {
        text-align: center;
    }
}
footer .icons a i{
    
    color: #fff;
    font-size: 22px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;  
    margin-left: 10px;
}
footer .icons a .fa-facebook-f{
    height:  45px;
    width: 45px;
    padding-left: 15px;
    padding-right: 0px;
}

footer .icons  i:hover{
    color:   hsl(300, 72%, 76%);
    cursor: pointer;
    transform: scale(1.2) ;

}



.attribution { 
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
    @media (max-width:375px) {
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
    }
}

.attribution a { 
    color: hsl(228, 52%, 68%);
}
